<a href="https://colab.research.google.com/github/darome-ur/SistemasDP1/blob/master/NoteBook1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

En este notebook se recoge la primea parte del primer entregable de la asignatura de IA, donde utilizaremos datos proporcionados de la plataforma Kaggle

CARGAMOS LA LIBRERIA PANDAS PARA PODER REALIZAR ANALISIS DE DATOS

In [0]:
import pandas as pd

CREAMOS UN DataFrame CON EL CSV DE ENTRENAMIENTO PARA ESTUDIAR LOS CAMPOS

In [0]:
df_train = pd.read_csv('train.csv')

In [11]:
df_train.columns

Index(['SL', 'EEG', 'BP', 'HR', 'CIRCULATION', 'ACTIVITY'], dtype='object')

In [9]:
df_train.head()

         SL      EEG  BP   HR  CIRCULATION  ACTIVITY
0   4019.64 -1600.00  13   79          317         3
1   2191.03 -1146.08  20   54          165         2
2   2787.99 -1263.38  46   67          224         2
3   9545.98 -2848.93  26  138          554         4
4  14148.80 -2381.15  85  120          809         4